<div class="text-center">

    <br>
    <br>
    
    <h1 class="titolo animate__animated animate__bounceInLeft">Puoi trovarmi su:</h1>
    
    <br>
    
    <a href="https://www.linkedin.com/in/constantin-minciuna/" target="_blank" class="animate__animated animate__zoomIn">
      <img class="logo" src="../assets/linkedin.png" width="1.5%">
      <span class="descrizione">Linkedin</span>
    </a>
    
    <br>
    <br>
    
    <a href="https://github.com/constantinminciuna/" target="_blank" class="animate__animated animate__zoomIn">
      <img class="logo" src="../assets/github.png" width="1.5%">
      <span class="descrizione">GitHub</span>
    </a>
    
    <br>
    <br>
    <br>
    <br>
    
    <h1 class="titolo animate__animated animate__bounceInRight">Contattami:</h1>
    
    <br>
    
    <a href="mailto:constantin.minciunah@gmail.com" class="animate__animated animate__zoomIn" >
      <img class="logo" src="../assets/mail.png" width="1.5%">
     </a>
     <span class="descrizione animate__animated animate__zoomIn">
       Mail : 
       <a href="mailto:constantin.minciunah@gmail.com" >
        constantin.minciunah@gmail.com
        </a>
      </span>
    
    </div>