<h1 class="titolo animate__animated animate__bounce"><span style="color: var(--main-color4)">private String </span> <span style="color: var(--main-color1)">miPresento</span> =<span style="color: var(--main-color3)"> "</span></h1>
<p class="presentazione animate__animated animate__fadeIn" style="color: var(--main-color3)">
  Il mio nome è Constantin Minciuna, vivo a Roma e sono nato nel 2002.<br>
  <br>
  Ho cominciato a interessarmi alla programmazione ancor prima di entrare nelle scuole superiori. <br>
  Sin da subito ho capito che volevo lavorare nel campo informatico, e motivato anche dal desiderio di sviluppare videogiochi, ho scelto un Istituto Tecnico Informatico per avvicinarmi a questo mondo. <br>
  Durante i primi anni, ho avuto la fortuna di avere un eccellente professore che ci ha introdotto alla programmazione procedurale in C. <br>
  È stato un punto di partenza importante che ha acceso la mia passione per la programmazione.
  <br><br>
  Gli anni successivi sono stati dedicati all'apprendimento di diverse tecnologie. 
  Abbiamo studiato il C++, Java per la programmazione orientata agli oggetti, lo sviluppo di database e siti web, oltre a tutti i processi di progettazione che stanno dietro alla programmazione. 
  Successivamente, ho iniziato a frequentare l'Università di Tor Vergata, dove ho proseguito i miei studi in Informatica.
  <br><br>
  Anche se non ho ancora conseguito certificazioni linguistiche ufficiali, ho una buona conoscenza dell'inglese.
  <br><br>
  Nonostante la mia passione per la programmazione, le mie esperienze lavorative precedenti non erano legate al mondo informatico.<br>
  Tuttavia, queste esperienze mi hanno insegnato l'importanza dell'etica lavorativa, migliorando la mia precisione, la gestione del tempo e il rispetto delle scadenze.
 </p>
 <h1 class="titolo2 animate__animated animate__bounceInUp" ><span style="color: var(--main-color3)">"</span>;</h1>
