<div class="main  animate__animated animate__zoomIn">

    <br>
    <br>
  
    <div class="container">
  
  
      <div class="item">
        <img src="../assets/constantin.jpg">
        <h1 style="color: var(--main-color2)" id="nome">Constantin Minciuna</h1>
        <p id="nascita">Nato in <b style="color: var(--main-color3);">Moldavia</b> nel 2002</p>
      </div>
  
      <div class="item">
  
        <a href="/dove-trovarmi" routerLink="/dove-trovarmi" id="main-link" style="color: var(--main-color3);">
          <h3 id="informazioni">Informazioni utili e contatti:</h3><br>
        </a>
        <div id="descrizione-informazioni" >
          <p>
            <b>Tel.</b> = 3884313099
          </p>
          <p>
            <b>E-mail</b> = <a href="mailto:constantin.minciunah@gmail.com">constantin.minciunah@gmail.com</a>
          </p>
          <p>
            <b>Comune di Residenza</b> = Roma (RM) - 00133
          </p>
        </div>
  
      </div>
  
  
    </div>
  
    <br>
    <br>
  
    <hr>
  
    <br>
  
    <div class="text-center ">
      <a href="/chi-sono" routerLink="/chi-sono" id="main-link">
        <h1 class="titolo-paragrafo">CHI SONO</h1>
      </a>
      <p class="main-p">
        Sono un appassionato della tecnologia, studente di Informatica all'università di Tor Vergata e diplomato in Informatica e Telecomunicazioni, con un interesse specifico per la programmazione.
      </p>
    </div>
  
    <br>
    <br>
  
    <hr>
  
    <br>
  
    <div class="text-center">
  
      <h1 class="titolo-paragrafo">FORMAZIONE</h1>
  
      <p class="main-p">
        <b class="data">Settembre 2017 - Luglio 2022</b> : <b class="tipo">Diploma in Informatica e Telecomunicazioni</b> presso IIS Enzo Ferrari - Qui ho studiato le basi dell'informatica generale, i primi linguaggi di formattazione e programmazione (Html, PHP, Java, C++), lo sviluppo dei database (MySQL).
      </p>
      <br>
      <p class="main-p">
        <b class="data">Ottobre 2022 - In corso</b> : <b class="tipo">Università degli Studi di Tor Vergata - Informatica</b> Sono attualmente studente di Informatica all'università.
      </p>
      <br>
      <p class="main-p">
        <b class="data">Maggio 2023 - Settembre 2023</b> : <b class="tipo">Attività formativa di 500 ore</b> presso Betacom s.r.l. - 
        Il focus principale dell'attività formativa è stato quello di creare progetti enterprise basati su architetture monolitiche sia su microservizi, presentando inoltre una panoramica completa dei Design Pattern cardine per la gestione di tali architetture. 
        <br>
        Il percorso ha coperto sia lo sviluppo lato BE sia lato FE sfruttando strumenti di versioning quali GIT e dando molta importanza anche al database development. 
        <br>
        Lato deployment sono stati utilizzati strumenti di orchestrazione quali: OpenShift e Kubernetes.
        <br>
        La virtualizzazione dei container è stata realizzata tramite Docker in modo da creare applicazioni enterprise scalabili.
        <br>
        Tali esercitazioni erano finalizzate a presentare le varie fasi del ciclo di sviluppo del software e a familiarizzare con le architetture tecnologiche attuali.
      </p>
  
    </div>
  
    <br>
    <br>
  
    <hr>
  
    <br>
  
    <div class="text-center">
  
      <h1 class="titolo-paragrafo">ESPERIENZE PROFESSIONALI</h1>
  
      <p class="main-p">
        <b class="data">Work in progress...</b>
      </p>
  
    </div>
  
    <br>
    <br>
  
    <hr>
  
    <br>
  
    <div class="text-center">
  
      <h1 class="titolo-paragrafo">ALTRE INFORMAZIONI</h1>
      <p class="main-p">
        Questo era il mio curriculum abbreviato, riguardante soltanto il settore della programmazione.
      </p>
      <p class="main-p">
        Vuoi vedere il curriculum completo in PDF?
      </p><br>
      <div class="wrap">
        <a href="../assets/Curriculum.pdf" target="_blank">
          <button class="button">CLICCA QUI</button>
        </a>
      </div>
  
    </div>
  
    <br>
  
  </div>
  