<br>
<br>

<h2 class="text-center animate__animated animate__fadeIn" style="color: #B1E7B7">//Questo è un Array di tecnologie che utilizzo ed ho utilizzato in passato</h2>

<br>

<h1 class="text-center animate__animated animate__fadeIn"><span style="color: var(--main-color4)">Tecnologie[] </span> <span style="color: var(--main-color1)"> tecnologieUtilizzate</span> <span style="color: black"> =</span> <span style="color: var(--main-color2)" > {{ '{' }}</span></h1>

<br>

<div class="row1-container">

  <div class="box  colore1 animate__backInUp animate__animated">
    <h2 class="boxtitle">JAVA</h2>
    <p>Uno dei primi linguaggi che ho studiato e quello che conosco meglio.<br>
    <img src="../assets/java.png" style="width: 50px;" alt=""></p>
  </div>

  <div class="box colore2 animate__backInDown animate__animated">
    <h2 class="boxtitle">SPRING</h2>
    <p>Studiato durante l'Academy di Betacom.</p><br><br>
    <img src="../assets/spring.png" style="width: 60px;" alt="">
  </div>

  <div class="box colore1 animate__backInUp animate__animated">
    <h2 class="boxtitle">MySQL</h2>
    <p>Il primo DBMS che ho studiato e quello che conosco meglio.</p><br>
    <img src="../assets/mysql.png" style="width: 80px;" alt="">
  </div>

</div>

<br>
<br>

<div class="row1-container">

    <div class="box colore2 animate__backInDown animate__animated">
        <h2 class="boxtitle">JAVASCRIPT</h2>
        <p>Linguaggio che vorrei moltissimo usare in ambito lavorativo, vedendoci molto potenziale.<br>
        <img src="../assets/javascript.png" style="width: 60px;" alt=""></p>
    </div>

  <div class="box colore2 animate__backInDown animate__animated">
    <h2 class="boxtitle">TYPESCRIPT</h2>
    <p>Estensione di JavaScript che ho imparato ad utilizzare durante l'Academy di Betacom.</p>
    <img src="../assets/typescript.png" style="width: 60px;" alt="">
  </div>


  <div class="box colore1 animate__backInUp animate__animated">
    <h2 class="boxtitle">ANGULAR</h2>
    <p>Framework fondamentale con cui vorrei lavorare.</p><br>
    <img src="../assets/angular.png" style="width: 60px;" alt="">
  </div>

</div>

<br>
<br>

<div class="row1-container">

    <div class="box colore1 animate__backInUp animate__animated">
      <h2 class="boxtitle">NODE.JS</h2>
      <p>Ambiente di runtime importante con il quale vorrei lavorare.</p>
        <br><br>
      <img src="../assets/node.png" style="width: 50px;" alt="">
  
    </div>
  
    <div class="box  colore2 animate__backInDown animate__animated">
        <h2 class="boxtitle">CSS</h2>
        <p>Fondamentale per un frontender, implementato nei miei progetti attraverso bootstrap, primeng, tailwind.</p>
        <img src="../assets/css.png" style="width: 40px;" alt="">
    </div>

    <div class="box  colore1 animate__backInUp animate__animated">
        <h2 class="boxtitle">HTML</h2>
        <p>Fondamentale per un frontender.</p><br><br>
        <img src="../assets/html.png" style="width: 60px;" alt="">
    </div>
  
</div>
  
<br>
<br>

<div class="row1-container">

    <div class="box colore1 animate__backInUp animate__animated">
      <h2 class="boxtitle">PHP</h2>
      <p>Primo linguaggio studiato per lo sviluppo di siti web.</p>
        <br><br>
      <img src="../assets/php.png" style="width: 50px;" alt="">
  
    </div>
  
    <div class="box  colore2 animate__backInDown animate__animated">
        <h2 class="boxtitle">C++</h2>
        <p>Studiato sia alle superiori che all'università.</p><br>
        <img src="../assets/cpp.png" style="width: 40px;" alt="">
    </div>

    <div class="box  colore1 animate__backInUp animate__animated">
        <h2 class="boxtitle">PYTHON</h2>
        <p>Studiato all'università.</p><br><br>
        <img src="../assets/python.png" style="width: 60px;" alt="">
    </div>
  
</div>
  
<br>
<br>

<h1 class="text-center animate__animated animate__fadeIn" ><span style="color: var(--main-color2)">{{ '}' }}</span><span style="color: black;"> ;</span></h1>

