
.titolone{
    font-size: 200px;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 0px;
    color: var(--main-color1);
  }
  
  .titolone2{
    font-size: 70px;
    text-align: center;
    margin-top: 1px;
    color: var(--main-color2);
  }
  
  